body {
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: #007BFF;
  color: white;
  padding: 2rem;
  text-align: center;
}

.app-title {
  margin: 0;
  font-size: 2.5rem; 
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 2rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 319px;
}

.card-today {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 2rem; 

}
.card-forcast {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 2rem; 

}

.card-search {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 2rem; 
}
.card-buttons {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 2rem; 


}
.card-header {
  font-size: 1.5rem; 
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.form-input {
  margin-bottom: 1rem;
  padding: 1rem; 
  font-size: 1rem; 
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1rem 1.5rem; 
  font-size: 1rem; 
  cursor: pointer;
  margin: 0.5rem 0; /* Increased margin */
}

.btn:hover {
  background-color: #0056b3;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 800px;
}

.today-weather {
  margin-bottom: 2rem;
}

.forecast-section {
  text-align: center;
}

.forecast-section h2 {
  font-size: 1.5rem; 
  margin-bottom: 1rem;
}

#forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.forecast-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem; 
  flex: 1;
  max-width: 150px;
  text-align: center;
}

.forecast-card h3 {
  font-size: 1.3rem; 
  margin-bottom: 0.5rem;
}
